/node_modules
/oh_modules
/local.properties
/.idea
**/build
/.hvigor
.cxx
/.clangd
/.clang-format
/.clang-tidy
**/.test
# 含签名凭据（keyPassword/storePassword/certpath），**禁止提交**
# 需要构建时由 DevEco Studio 自动生成
/build-profile.json5
/docs/
